.upload {
  width: 100%;
  @include flex-center();
}

.dragUpload {
  width: 100%;

  .box {
    height   : 100px;
    padding  : 3px;
    font-size: 12px;
    @include flex(flex-start, center);
    flex-direction: column;
    color         : #aaa;

    &>span {
      margin-bottom: 5px;
    }
  }
}