.container {
  height: 100%;
  @include flex-base1(center, center);
  flex-direction: column;
}

.videoList {
  width   : 100%;
  height  : 0px;
  overflow: hidden;
}

.motu {
  &-video-mark {
    width  : 100%;
    display: flex;
    flex   : 1;

    .left {
      height          : 100%;
      width           : 200px;
      background-color: $default-color1-4;
      padding         : 20px;
      box-sizing      : border-box;
    }

    .right {
      height        : 100%;
      flex          : 1;
      display       : flex;
      flex-direction: column;

      .preview {
        width: 100%;
        flex : 1;
      }

      .timeline {
        background-color: rgba($default-color1-4, 0.5);
        width           : 100%;
        height          : 240px;
      }
    }
  }
}