// border
$border-base1      :1px solid #ccc;
$drag-upload-border:1px dashed #ccc;


// color
$theme-background-color:black;

$default-color1-1 :#fff;
$default-color1-2 :#333;
$default-color1-3 :#FF5B5C;
$default-color1-4 :#111;




//flex - mixin
@mixin flex-center {
  display        : flex;
  justify-content: center;
  align-items    : center;
}

@mixin flex-base1($jc, $ai) {
  display        : flex;
  justify-content: $jc;
  align-items    : $ai;
}

// grid - mixin
@mixin grid($cloumns, $cgap:10px, $rgap:$cgap) {
  display              : grid;
  grid-template-columns: repeat(auto-fill, $cloumns);
  grid-row-gap         : $rgap;
  grid-column-gap      : $cgap;
}