// border
$border-base1:1px solid #ccc;



// color
$theme-background-color:black;

$default-color1-1 :#fff;
$default-color1-2 :#333;
$default-color1-3 :#FF5B5C;




// mixin
@mixin flex-center {
  display        : flex;
  justify-content: center;
  align-items    : center;
}

@mixin flex-base1($jc, $ai) {
  display        : flex;
  justify-content: $jc;
  align-items    : $ai;
}